<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Criar Cargo</title>
  <link rel="shortcut icon" href="../tipo/imagens/icecube.png">

</head>

<body>

  <!---------------------------------------------------------NAVEGACAO------------------------------------------------------------>
  <div class="toggle">
    <ul class="nav flex-column fixed-top navegacao-lateral" id="sidenavbar">
      <h5><span id="codigoSenior"><span id="span" class="botaonavegacao">Código Sênior</span></h5>

      <li class="nav-item" style="text-align: center;">
        <a class="nav-link corzinha" id="cubocentral"><i class="fas fa-cube botao-cubo"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link corzinha active" href="#"><i class="fas fa-chart-line"></i><span id="span"
            class="botaonavegacao">
            Dashboard</span> </a> </li>
      <li class="nav-item">
        <a class="nav-link corzinha" href="#"><i class="fas fa-lock"></i><span id="span" class="botaonavegacao">
            Logout</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link corzinha" href="#"><i class="fas fa-tasks"></i><span id="span" class="botaonavegacao">

            Projetos</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link corzinha" href="#"><i class="fas fa-user-check"></i><span id="span" class="botaonavegacao">
            Usuário</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link corzinha" href="#"><i class="fas fa-briefcase"></i><span id="span" class="botaonavegacao">

            Serviços</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link corzinha" href="#"><i class="far fa-handshake"></i><span id="span" class="botaonavegacao">

            Cliente</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link corzinha" href="#"><i class="fas fa-quote-right"></i><span id="span" class="botaonavegacao">

            Tipo</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link corzinha" href="#"><i class="far fa-building"></i><span id="span" class="botaonavegacao">

            Departamento</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link corzinha" href="#"><i class="far fa-clipboard"></i><span id="span" class="botaonavegacao">

            Cargo</span></a>
      </li>


    </ul>
    <!---------------------------------------------------------NAVEGACAO--------------------------------------------------------------------->

    <h2 class="criando-cargo">Crie o cargo do cliente</h2>

    <div class="container cargo-criar">
      <form class="d-flex justify-content-around">
        <div class="form-row">
          <div class="form-group col-8">
            <label for="exampleFormControlInput1">Nome</label>
            <input type="text" class="form-control" id="nomecargo" placeholder="NOME" required>
          </div>
          <div class="form-group col-4">
            <label for="departamentocargo">Departamento</label>
            <select class="form-control" id="departamentocargo" required>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-dark">Voltar</button>
        <button type="button" class="btn btn-outline-primary">Criar</button>
      </div>
    </div>


    <script src="../js/navbar.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>


</html>