body {
    background-image: url('computer4.png');
    background-repeat: no-repeat;
}

.login-card {
    font-family: 'Raleway', sans-serif;
    background-color: steelblue;
    border: 3px solid #f1f1f1;
    width: 30vw;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    opacity: 0.95;
    box-sizing: border-box;
    animation: login-principal;
    animation-duration: 1s;
}

@media (max-width: 1024px) {
    .login-card {
        width: 80vw;
    }
}

.boas-vindas {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: steelblue;
    font-size: 50px;
    margin-top: 20vh;
    animation: bem-vindo-principal;
    animation-duration: 1s;
}

@keyframes login-principal{
    0% {opacity: 0; transform: translateY(20px)}
    100% {opacity: 0.95; transform: translateY(0)}
}

@keyframes bem-vindo-principal{
    0%{opacity: 0;transform: translateY(-20px)}
    100%{opacity: 1;transform: translateY(0)}
}