.navProjeto
{
 height: 5%;
}

.contCardEspecificoServiço
{
border-radius: 10px;
display: flex;
justify-content: center;
margin-top: 10%;
background-color: white;
border: 1px black solid;
}

.cardEspecificoServiço
{
    padding-top: 1%;
    padding-bottom: 1%;
}

.card-buttons button
{
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.contTableListagemServiço
{
    background-color: white;
    border-radius: 10px;
}

.contTableListagemServiço button 
{
    margin-bottom: 1%;
}

.tituloServiço
{
margin-top: 2.5%;
margin-bottom: 2.5%;
}


