.navegacao-lateral {
    background-color: #4682B4;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 3vw;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    padding-top: 20px;
    -webkit-transition: width 1s ease;
}

.corzinha {
    color: white !important;
    margin-top: 5%;
    margin-bottom: 5%;
}

.corzinha:hover {
    transform: scale(1.1);
    
}

h5 {
    color: white;
    text-align: center;
}

.tipo-criar {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: white;
    background-color: steelblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.cargo-criar {
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    font-weight: bold;
}

.criando-cargo {
    margin-top: 15vh;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    text-align: center;
}

.listagem-tipo {
    text-align: center;
}

.intro-vendo-mais-cargo {
    margin-top: 3vh;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    text-align: center;
}

.nome-cliente-ver-mais-cargo {
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
}

.modal-title {
    color: black;
}

.intro-listando-cargo {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    margin-top: 3vh;
}

@media all and (max-width: 700px) {
    .navegacao-lateral {
        /* width: 50vw; */
        -webkit-animation-name: comeBackSmaller;
        -webkit-animation-duration: 0.8s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
    }
    @-webkit-keyframes comeBackSmaller {
        0% {
            opacity: 1.0;
            width: 100px;
        }
        25% {
            opacity: 0.0;
            width: 75px;
        }
        50% {
            opacity: 0.0;
            width: 25px;
        }
        100% {
            opacity: 1.0;
            width: 50px;
        }
    }
}

.contTableListagem {
    background-color: white;
    border-radius: 10px;
}

.larguraNavbar {
    width: 15vw;
}

.botaonavegacao {
    display: none;
}