

.navegacao-lateral{
    background-color: #4682B4;
    font-family: 'Montserrat', sans-serif;
    width: 15vw;
    height: 100vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    padding-top: 20px;
}

.corzinha{
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.corzinha:hover {
    color: #1E90FF;
    transform: scale(1.1);

}

h5{
    color:white;
    text-align: center;
}


.tipo-criar {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: white;
    background-color: steelblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.cargo-criar{
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    font-weight: bold;
}

.criando-cargo{
    margin-top: 15vh;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    text-align: center;
}


.listagem-tipo {
    text-align: center;
}

.intro-vendo-mais-cargo{
    margin-top: 3vh;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    text-align: center;
}

.nome-cliente-ver-mais-cargo{
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
}

.modal-title{
    color: black;
}

.intro-listando-cargo{
text-align: center;
font-family: 'Montserrat', sans-serif;
color: steelblue;
margin-top: 3vh;
}

.listagem-cargo{
margin-top: 5vh;
border-width: 3px !important;
border-color: steelblue !important;
border-style: outset !important;
}