/* NAV BAR */
.rotulo {
    margin-right: 10px;
}

/* PROJETO */

.contCardEspecificoProjeto {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
}

h1 {
    text-align: center;
}

.cardEspecificoProjeto {
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    border: 1px black solid;
    min-width: 20%;
}

.cardButtonsProjeto button {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.contTableListagemProjeto {
    background-color: white;
    border-radius: 10px;
}

.contTableListagemProjeto button {
    margin-bottom: 1%;
}

.tituloProjeto {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/* USUARIO */

.criando-cliente {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.formulario-cliente {
    font-weight: bold;
}

.editando-cliente {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.intro {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.listagem-clientes {
    margin-top: 5vh;
}

.contTableListagem {
    background-color: white;
    border-radius: 10px;
}

.contTableListagem button {
    margin-bottom: 10px;
}

.escolhendo-imagem {
    margin-top: 5vh;
    font-weight: bold;
}

.contCardEspecificoUsuario {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
}

.cardEspecificoUsuario {
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    border: 1px black solid;
    min-width: 20%;
}

.cardButtonsUsuario button {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* DEPARTAMENTO */

.contCardEspecificoDepartamento {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    min-width: 20%;
}

.cardEspecificoDepartamento {
    padding-bottom: 1%;
    border-radius: 10px;
    border: 1px;
}

.tituloCardDepartamento {
    border-top: none
}

.card-buttons button {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.contTableListagemDepartamento {
    background-color: white;
    border-radius: 10px;
}

.contTableListagemDepartamento button {
    margin-bottom: 1%;
}

.tituloDepartamento {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/*TIPO*/

.contCardEspecificoTipo {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    min-width: 20%;
}

.cardEspecificoTipo {
    padding-bottom: 1%;
    border-radius: 10px;
    border: 1px;
}

.tituloCardTipo {
    border-top: none
}

.card-buttons button {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.contTableListagemTipo {
    background-color: white;
    border-radius: 10px;
}

.contTableListagemTipo button {
    margin-bottom: 1%;
}

.tituloTipo {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/*CARGO*/

.contCardEspecificoCargo {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
}

.cardEspecificoCargo {
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    border: 1px black solid;
    min-width: 20%;
}

.cardButtonsCargo button {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*CLIENTE*/

.criando-cliente {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.formulario-cliente {
    font-weight: bold;
}

.editando-cliente {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.intro {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.listagem-clientes {
    margin-top: 5vh;
}

.contTableListagem {
    background-color: white;
    border-radius: 10px;
}

.contTableListagem button {
    margin-bottom: 10px;
}

/*SERVIÇOS*/

.contCardEspecificoServiço {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
}

.cardEspecificoServiço {
    padding-bottom: 1%;
    border-radius: 10px;
    border: 1px;
    min-width: 40%;
}

.tituloCardServiço {
    border-top: none
}

.card-buttons button {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.contTableListagemServiço {
    background-color: white;
    border-radius: 10px;
}

.contTableListagemServiço button {
    margin-bottom: 1%;
}

.tituloServiço {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.formServiço{
    margin-bottom: 5%;
}