<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-----------------------------------------------NAVEGAÇÃO-------------------------------------------------------------------------->
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-cube cubocentral"></i>
    </label>
    <nav>
        <ul class="nav flex-column fixed-top navegacao-lateral" id="sidenavbar">
            <li class="nav-item">
                <a class="nav-link corzinha active" href="#"><i class="fas fa-chart-line icone"></i>Dashboard</a></li>
            <li class="nav-item">
                <a class="nav-link corzinha" href="#"><i class="fas fa-lock icone"></i>Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link corzinha" href="#"><i class="fas fa-tasks icone"></i>Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link corzinha" href="#"><i class="fas fa-user-check icone"></i>Usuário</a>
            </li>
            <li class="nav-item">
                <a class="nav-link corzinha" href="#"><i class="fas fa-briefcase icone"></i>Serviços</a>
            </li>
            <li class="nav-item">
                <a class="nav-link corzinha" href="#"><i class="far fa-handshake icone"></i>Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link corzinha" href="#"><i class="fas fa-quote-right icone"></i>Tipo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link corzinha" href="#"><i class="far fa-address-card icone"></i>Departamento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link corzinha" href="#"><i class="far fa-clipboard icone"></i>Cargo</a>
            </li>


        </ul>
    </nav>
<!--------------------------------------------------------NAVEGAÇÃO------------------------------------------------------------->

</body>

</html>