* {
    padding: 0;
    margin: 0;
}

.corzinha {
    text-decoration: none;
    display: block;
    padding: 16px 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.icone {
    margin-right: 5px;
}

.icone-menu {
    color: steelblue;
    font-size: 30px;
}

.menu-checkbox[type="checkbox"] {
    display: none;
}

.navegacao {
    background-color: steelblue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.8;
    height: 100%;
    width: 180px;
    left: -180px;
    position: absolute;
    transition: all 0.5s;
}

.menu-checkbox[type="checkbox"]:checked~nav {
    transform: translateX(180px);
}

@media (max-width: 380px) {
    .icone-menu {
        margin-left: 30px;
    }
}

.corzinha:hover {
    transform: scale(1.1);
    margin-left: 1vw;
}

.rotulo {
    top: 5vh;
    left: 5vw;
    position: absolute;
    z-index: 1;
}

.navegacao-lateral {
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
}