* {
    padding: 0;
    margin: 0;
}

.corzinha {
    text-decoration: none;
    display: block;
    padding: 16px 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.icone-menu {
    color: steelblue;
    font-size: 30px;
}

.menu-checkbox[type="checkbox"] {
    display: none;
}

.navegacao {
    background-color: steelblue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0.8;
    height: 100%;
    width: 180px;
    left: -180px;
    position: absolute;
    transition: all 0.5s;
}

.menu-checkbox[type="checkbox"]:checked~nav {
    transform: translateX(180px);
}

.menu-checkbox[type="checkbox"]:checked~.rotulo{
    transform: rotate(180deg);
}

@media (max-width: 380px) {
    .icone-menu {
        margin-left: 30px;
    }
}

.corzinha:hover {
    transform: scale(1.1);
    margin-left: 1vw;
}

.rotulo {
    top: 1vh;
    left: 2vw;
    position: absolute;
    z-index: 1;
}

.navegacao-lateral {
    height: 85vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
}

.titulo-navbar{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;

}