/*  Você consegue men, vamo que vamo
Cores: 
Preto
Steel Blue
White

body {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.barraNavegacao {
    background-color: steelblue;
    color: white;
}

.titleDepartamento {
    color: whitesmoke;
    text-align: center;
    padding-top: 10px;
}

.subtitleDepartamento {
    color: whitesmoke;
    text-align: center;
    height: 10px;
}

.containerEditar {
    margin-top: 150px;
}

.criarUsuario {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 20px 20px;
}

.edicaoUsuario {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 20px 20px;
}

.listaDepartamentos {
    padding: 50px 50px;
}

.tipo-criar {
    display: flex;
    justify-content: center;
    color: #282828;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.navegacao {
    font-family: 'Orbitron', sans-serif;
}

.navbar-brand {
    font-size: 35px !important;
}

button {
    margin: 5px;
}

.listaResponsiva {
    margin-top: 50px;
}

.verMaisLista{
    
}

body {
    background-color: grey;
}

.form-group {
    background-color: steelblue;
}

.VerMais {
    text-decoration-style: none;
    text-decoration: none
}  */

/* Body */

body {
    font-family: 'Orbitron', sans-serif;
    background-color: white;
}

h2 {
    font-size: 30px;
}

.formh2 {
    font-size: 25px;
}

/* NavBar */

.barraNavegacao {
    background-color: #4682B4;
    color: white;
    padding-left: 30px;
    padding-top: 15px;
    margin-bottom: 50px;
}

/* Titles Departamento */

.titleDepartamento {
    margin-bottom: 15px;
    margin-top: 5px;
}

.subtitleDepartamento {
    margin-bottom: 15px;
    margin-top: 30px;
}

.subtitleDepartamentoLista {
    margin-top: 50px;
}

/* Editar Departamento */

.formEditar {
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
}

/* listaDepartamento */

.listaResponsiva {
    margin-bottom: 50px;
    margin-top: 10px;
}

.VerMais {
    text-decoration-style: none;
    text-decoration: none
}

/* Pagina Edição Departamento */

.edicaoUsuario {
    margin-top: 20px;
    margin-bottom: 80px;
}

/* Table Lista */

.listaResponsiva {
    background-color: white;
    color: steelblue;
    border-width: 3px;
}

.botaoVerMais {
    background-color: white;
    color: black;
}

/* Botões Geral */

.botaoSubmitCancel {
    margin-top: 15px;
}