/* Você consegue men, vamo que vamo
Cores: 
Preto:#000000
Grafite: #282828
Verde: #096201 */

body {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

h1{
    color: whitesmoke;
}

.tipo-criar {
    display: flex;
    justify-content: center;
    color: #282828;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

navegacao{
    font-family: 'Orbitron', sans-serif;
}

.navbar-brand{
    font-size: 35px !important;
}

button {
    margin: 5px;
}

body {
    background-color: #282828;
}

.form-group {
    background-color: #096201;
}
