body
{
background-color: #282828;
}

nav
{
 height: 50px;
}

nav button
{
    color: #000000;
    background-color: #096201;
}

.contFormCriar, .contFormEditar, .contCardEspecifico
{
border-radius: 10px;
display: flex;
justify-content: center;
margin-top: 10%;
background-color: white;
width: 400px;
}

.formCriar, .formEditar
{
width: 300px;
margin-top: 20px;

} 

form button
{
    color: #000000;
    background-color: #096201;
    margin-bottom: 20px;
} 

.card
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-buttons button
{
    color: #000000;
    background-color: #096201;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contTableListagem
{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border-radius: 10px;
}

.tableButton
{

}