.criando-cliente {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.formulario-cliente {
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
    font-weight: bold;
}

.editando-cliente {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.intro {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
}

.listagem-clientes {
    margin-top: 5vh;
}

.cliente-item-vermais {
    font-family: 'Montserrat', sans-serif;
    color: steelblue;
}

.contTableListagem
{
    background-color: white;
    border-radius: 10px;
}

.contTableListagem button 
{
    margin-bottom: 10px;
}